body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f8f8f8;
}

.menu-container {
    max-width: 950px;
    margin: 0 auto;
    background-color: #fff;
    height: 300vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
}

h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(50, 59, 59);
    margin-top: 20px;
}

h1::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(50, 59, 59);
    margin-bottom: 20px;
}

.menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.menu-item {
    width: 45%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.menu-item img {
    width: 40%;
    height: 153px;
    border-radius: 100%;
    border: 2px dashed red;
    object-fit: cover;
}

.menu-item h3 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.menu-item span {
    color: rgb(202, 142, 30);
    font-weight: 600;
}

.menu-item p {
    font-size: 14px;
    color: #646464;
}

.dessert-beverage {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
}

.dessert-beverage div {
    width: 45%;
}

.dessert-beverage div h4 {
    font-size: 20px;
    color: rgb(43, 42, 42);
}

.dessert-beverage div ul {
    list-style: none;
    padding: 0;
}

.dessert-beverage div ul li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
}

@media only screen and (max-width:640px) {
    h1 {
        font-size: 3rem;
    }
    .menu-item {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .menu-item img {
        width: 50%;
        height: 200px;
    }
    .dessert-beverage {
        flex-direction: column;
    }
    .dessert-beverage div {
        width: 100%;
    }
}